<div>
  <form name="form" #f="ngForm" novalidate>
<div class="container-fluid form-group">
    <br/>
    <div><input type="hidden" name="task_id" [(ngModel)]="model.task_id" #task_id="ngModel"></div>
    <div class="row">
        <div class="col-sm-2"><h5><span class="badge badge-info ">Task</span></h5></div>
            <div class="col-sm-3"><input type="text" class="form-control" maxlength="32" pattern="[A-Za-z]{1,32}" name="task" [(ngModel)]="model.task" #task="ngModel"  [ngClass]="{ 'is-invalid': f.submitted && task.invalid }"  required></div>
            <div *ngIf="f.submitted && task.invalid" class="invalid-feedback">
              <div *ngIf="task.errors.required">Task Name is required</div>
          </div>
        </div>
         <br/>
         <div class="row">
                <div class="col-sm-2"><h5><span class="badge badge-info ">Priority</span></h5></div>
                <div class="col-sm-3"><input type="range" class="range" name="priority" max="30" min="0" value="0" [(ngModel)]="model.priority" #priority="ngModel" required > <h5><b>{{model.priority}}</b></h5></div>
                    
         </div>       
         <br/>
         <div class="row">
              <div class="col-sm-2"><h5><span class="badge badge-info ">Parent Task</span></h5></div>
                  <div class="col-sm-3 form-group" >
                      <select id="id" name="parentTask"  class="form-control" [(ngModel)]="model.parentTask" #parentTask="ngModel">
                          <option value="" [disabled]="true">--Select a Parent Task--</option>
                          <!-- <option [ngValue]="k" *ngFor="let k of taskList" [selected]="k.parentTask.parentTask == selectedParentVal">  
                              {{k.parentTask.parentTask ? k.parentTask.parentTask : k.task}}  
                           </option> -->
                           <option [ngValue]="k" *ngFor="let k of taskList" [selected]="k.task == selectedParentVal">  
                              {{k.task}}  
                           </option>  
                      </select>  
                  </div>
          </div>
         <!-- <div class="row">
                <div class="col-sm-2"><h5><span class="badge badge-info ">Parent Task</span></h5></div>
                    <div class="col-sm-3"><input type="text" [formControl]="taskFormGrp.controls['parentTask']"></div>
         </div> -->
         <br/>
         <div class="row">
                <div class="col-sm-2"><h5><span class="badge badge-info ">Start date</span></h5></div>
                    <div class="col-sm-3"><input type="date" name="startDate" [(ngModel)]="model.startDate" #startDate="ngModel" required ></div>
         </div>
         <br/>
         <div class="row">
                <div class="col-sm-2"><h5><span class="badge badge-info ">End date</span></h5></div>
                    <div class="col-sm-3"><input type="date" name="endDate" [(ngModel)]="model.endDate" #endDate="ngModel" required ></div>
         </div>
         <br/>
         <div class="row">
                <div class="col-sm-2"><span></span></div>
                <div class="col-sm-1.5" *ngIf="addTaskFlag"><input type="button" (click)="addTask(f.value)" [(disabled)]="!f.form.valid" value="Add Task" class="btn btn-primary"></div>
                <div class="col-sm-1.5" *ngIf="updatetaskFlag"><input type="button" (click)="updateTask(f.value)" [(disabled)]="!f.form.valid" value="Update Task" class="btn btn-primary"></div>
                <div class="col-sm-1" *ngIf="addTaskFlag"><input type="button" (click)="reset()" value="Reset" class="btn btn-primary"></div>
                <div class="col-sm-1" *ngIf="updatetaskFlag"><input type="button" (click)="cancel()" value="Cancel" class="btn btn-primary"></div>
          </div>
    </div>
</form>
</div>