<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Select User</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
      <table width="90%" class="container-fluid form-group" >
          <thead class="col-sm-2">
            <th>First Name</th>
            <th>Last Name</th>
            <th>Employee ID</th>
            <th></th>
         </thead>
          <tbody>
            <tr *ngFor="let userObj of userList">
                <td>{{userObj.firstName}}</td>
                <td>{{userObj.lastName}}</td>
                <td>{{userObj.empId}}</td>
                <td><input type="button" value="Select" (click)="addUser(userObj)" class="btn btn-sm btn-primary"></td>
             </tr>
          </tbody>
        </table> 
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Cancel</button>
  </div>
</ng-template>

<button class="btn btn-md btn-outline-primary" (click)="open(content)">Search</button>
